body{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to right, green, purple);
    text-align: center;
    align-items: center;
}

p {
    text-transform: lowercase;
}